body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #887575;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #fff;
    padding: 27px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.topo {
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    margin-top: 20px;
    color: #832222; 
}
.gren{
    background-color: #bd6269;
    color: white;
}
.teest{
    
}
.display {
    width: 90%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #eee;
}
button:hover {
    background: #ddd;
} 
.equal {
    background:  #0026ff;
    color: white;
}
.equal:hover {
    background: #218838;
}
.clear {
    background: #dc3545;
    color: white;
}
.clear:hover {
    background: #c82333;
}