body {
    background-color: rgb(173, 72, 32);
}

.center {
    text-align: center;
    margin-top: 10px;
}

.color {
    animation: titulo 4s infinite;
}
i{
    animation: titulo 4s infinite;
}
@keyframes titulo {
    0% { color: rgb(179, 53, 53); }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: orange; }
    100% { color: rgb(233, 88, 88); } 
}
.right{
   float: right;
}
hr{
    border: 3px solid yellow;  
    animation: titulo 4s infinite; 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 90vh;           
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: -780px; 
  }
  .faixa-vermelha {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  .conteudo {
    margin-top: 60px;
    padding: 20px;
  }
  
  